* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.5em;
  font-family: sans-serif;
  color: #fff;
  text-align: center;
  text-wrap: wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

  ul {
    list-style-type: none;
  }

  hr {
    border: none;
    background: linear-gradient(to left, #2a0845, #6441a5);
    height: 0.2rem;
    margin: 1rem 0;
  }

  img {
    width: 100%;
    display: block;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  a:link,
  a:visited {
    text-decoration: none;
    display: inline-block;
  }
}

body {
  background: linear-gradient(to left, #2a0845, #6441a5);
  display: flex;
  height: 100dvh;
  justify-content: center;
  align-items: center;
  padding: 30rem 0;
}

main {
  background-color: #00000090;
  border: 1px solid #000;
  padding: 2rem;
  width: 60%;
  border-radius: 1rem;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.img-wrapper {
  overflow: hidden;
  border-radius: 50%;
}

.avatar-ring {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.location,
.socials ul,
.socials li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 1rem;
}

.location .icon {
  width: 0.8rem;
}

.email,
.socials {
  padding: 1rem 0;
  a:link,
  a:visited {
    background-color: #6441a5;
    border-radius: 0.4rem;
    padding: 0.2rem 1rem;
    border: 0.2rem solid transparent;
    transition: background-color 0.3s ease-out;
  }

  a:hover,
  a:active {
    background-color: #2a0845;
    border: 0.2rem solid #6441a5;
  }
}

@media (max-width: 768px) {
  main {
    width: 80%;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0;
  }
  main {
    padding: 1rem;
    width: 100%;
    border-radius: 0;
  }

  body {
    display: block;
  }
  .avatar-ring {
    width: 30%;
  }
}
